@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "updateProduct";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<form method="post">
    @Html.Label("Ürün Id")
    @Html.TextAreaFor(x=>x.Id , new{@class="form-control"})
    <br />
    @Html.Label("Ürün Ad")
    @Html.TextAreaFor(x=>x.Name , new{@class="form-control"})
    <br />
    @Html.Label("Ürün Fiyat")
    @Html.TextAreaFor(x=>x.Price , new{@class="form-control"})
    <br />
    @Html.Label("Ürün Stok")
    @Html.TextAreaFor(x=>x.Stock , new{@class="form-control"})
    <br />
    <button class="btn btn-outline-dark">Ürünü Güncelle</button>
</form>
